/* default.css for introductory page */
.intro-container {
    font-family: 'Times New Roman', sans-serif;
    background-color: rgb(63, 108, 81);
    color: rgb(188, 189, 139);
    max-width: 900px;
    margin: 0 auto;
}

.intro-container h1 {
    font-family: 'Courier New', monospace;
    color: lightcyan;
}

.intro-container header {
    background-color: rgb(20, 71, 47);
    color:rgb(124, 124, 94);
    padding: 10px;
}

.intro-container footer {
    background-color: rgb(44, 80, 60);
    color:rgb(188, 189, 139);
    text-align: center;
    padding: 10px;
}

.intro-container main {
    background-color: rgb(24, 92, 52);
    padding: 20px;
    border-radius: 8px;
}

.intro-container a:link {
    color:yellow;
}
.intro-container a:visited {
    color:orange;
}
.intro-container a:hover {
    color: rgb(255, 234, 236);
}
.intro-container a:active {
    color: rgb(119, 45, 139);
}

